<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.zhongbenshuo.attendance.foreground.rule.mapper.RuleMapper">
	<!-- 查询所有的考勤规则 -->
	<select id="findRuleInfo" resultType = "AttendanceRule">
		select AttendanceRule.*,userInfo.user_name as rule_manager from AttendanceRule left join userInfo on AttendanceRule.rule_manager_id = userInfo.user_id  where AttendanceRule.company_id = ${company_id} order by AttendanceRule.effective desc
	</select>
	
	<!-- 查询单个考勤规则 -->
	<select id="findRule" resultType = "AttendanceRule">
		select * from AttendanceRule where id = ${rule_id}
	</select>
	
	<!-- 修改考勤规则 -->
	<update id="updateRule">
		update AttendanceRule set rule_name = #{rule_name},rule_address = #{rule_address},rule_radius = #{rule_radius},rule_time_work = #{rule_time_work},
				rule_time_off_work = #{rule_time_off_work},rule_rest_start = #{rule_rest_start},rule_rest_end = #{rule_rest_end},effective = #{effective},
				rule_latitude = #{lat},rule_longitude = #{lng},rule_manager_id = #{user_id},rule_type = ${rule_type},unique_address = #{rule_unique_address}
				where id = ${rule_id}
	</update>
	
	<insert id="addRule">
		insert into AttendanceRule (rule_name,rule_address,rule_longitude,rule_latitude,rule_radius,rule_time_work,rule_time_off_work,rule_manager_id,
		effective,rule_rest_start,rule_rest_end,company_id,rule_type,unique_address) values (#{rule_name},#{rule_address},#{lng},#{lat},#{rule_radius},#{rule_time_work},#{rule_time_off_work},
		#{user_id},#{effective},#{rule_rest_start},#{rule_rest_end},#{company_id},${rule_type},#{rule_unique_address})
	</insert>
</mapper>
